
<html>
<head>
    <meta name="viewport" content="width=device-width" />
  @*   <link href="~/wwwroot/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" /> *@
    <link rel="stylesheet" href="~/Lib/bootstrap/css/bootstrap.css" />

</head>
<body>
 
    <nav>
        <center>
            <a href="/Home/Index" class="btn btn-primary">Home</a>
            <a href="/Home/AboutUs" class="btn btn-warning">About Us</a>
            <a href="/Home/Privacy" class="btn btn-danger">Privacy</a>
            <a href="/Home/ContactUs" class="btn btn-light">Contact Us</a>
            <a href="/Acount/Login" class="btn btn-dark">Login</a>
            <a href="/Acount/Register" class="btn btn-light">Register</a>
        </center>
    </nav>
    @* End Header *@

    @* start body *@
    <section>
        <center>
            <div class="mg-5">
                <h1>welcome to our web</h1>
                <p>lorem .....</p>
                <p> copy &copy; @DateTime.Now.Year</p>
            </div>
        </center>
    </section>

    @* End body *@
</body>
</html>
